.card {
    border: 1px solid var(--card-border-color);
    border-radius: 15px;
    padding: 16px;
    width: calc(25% - 50px);
    fill: white;
    box-shadow: 0px 4px 8px 0px var(--card-border-color);;
}

.card:hover {
    cursor: pointer;
}

.card-img {
    height: 225px;
    width: 100%;
    border-radius: 10px;
    background-size: cover;
}

.skill-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 4px;
    margin-top: 10px;
}

.skillBox {
    margin-top: auto;
    margin-bottom: auto;
}

.chip {
    color: var(--main-text-color);
    background-color: var(--accent-color);
    padding: 4px 12px;
    font-size: 16px;
    border-radius: 48px;
    margin-top: 10px;
}

.teacher-language {
    font-size: 16px;
    font-weight: 500;
    line-height: 200%;
    color: var(--gray);
}

.star {
   width: 28px;
   height: 24px;
   padding: 2px 2.217px 2.8px 5px;
}
