@import url('https://fonts.googleapis.com/css?family=Inter');

body {
  margin: 0;
  font-family: 'Inter', 'Segoe UI', 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Our color theme */
:root {
  --main-text-color: #3F1E07;
  --card-border-color: #DDD;
  --accent-color: #FFFAF5;
  --primary: #BF7217;
  --gray: #717171;
}

h1 {
  font-size: 28px;
  font-weight: 600;
  color: var(--main-text-color);
}

h2 {
  font-size: 20px;
  font-weight: 700;
  color: var(--main-text-color);
}

.page {
  padding: 40px;
}