.onboard-page {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.onboard-header {
    display: flex;
    column-gap: 32px;
}

.onboard-nav {
    width: 100px;
    text-align: center;
}

.onboard-nav > h2 {
    font-weight: 500;
}

.active {
    border-bottom: 2px solid var(--main-text-color);
}

.active > h2 {
    font-weight: 700;
}

.onboard-nav:nth-child(1) {
    margin-left: auto;
}

.onboard-nav:nth-child(2) {
    margin-right: auto;
}

.onboard-nav:hover {
    cursor: pointer;
}

.onboard-content {
    margin-top: 16px;
}

.onboard-content > p {
    font-weight: 500;
    font-size: 16px;
    margin-top: 32px;
}

.horizontal {
    display: flex;
}

.onboard-profile {
    width: 320px;
    height: 320px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    margin-right: 64px;
}

.onboard-profile:hover {
    cursor: pointer;
}

.language-selection {
    border-radius: 12px;
    border: 1px solid var(--gray);
    width: 400px;
    height: 48px;
    padding: 0px 15px;
    font-size: 16px;
}

.selectable-chip:hover {
    cursor: pointer;
}

.selected {
    background-color: var(--primary);
}

.selected > p {
    color: var(--white);
}

.input-box {
    border-radius: 12px;
    border: 1px solid var(--gray);
    width: 370px;
    height: 48px;
    padding: 0px 15px;
}

.signup-button {
    display: flex;
}

.signup-button > button:nth-child(1) {
    margin-top: 32px;
    margin-left: auto;
    margin-right: 12px;
}

.signup-button > button:nth-child(2) {
    margin-top: 32px;
    margin-left: 12px;
    margin-right: auto;
}

.role-setection {
    margin-top: 20px;
}

.role-setection > label {
    font-size: 16px;
    margin: 12px 16px;
}

.role-setection > input {
    margin: 12px auto;
    accent-color: var(--primary);
}

.time-list {
    width: 300px;
}

.time-list > .skill-chip:nth-child(odd) {
    margin-left: auto;
}

.time-list > .skill-chip:nth-child(even) {
    margin-right: auto;
}