.lesson-tab-header {
    display: flex;
    column-gap: 32px;
}

.lesson-tab-item:hover {
    cursor: pointer;
}

.lesson-tab-item {
    font-weight: 500;
}

.active-tab {
    border-bottom: 2px solid var(--main-text-color);
}

.active-tab > h2 {
    font-weight: 700;
}

.lesson-page {
    margin-top: 56px;
}

.lesson-row {
    display: flex;
    margin-bottom: 48px;
}

.profile-img {
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    object-fit: contain;
    margin-right: 28px;
    min-width: 286px;
}

.lesson-content {
    min-height: 225px;
}

.content-title {
    display: flex;
}

.title-text > h2 {
    margin: 0px;
}

.title-text > p {
    font-size: 16px;
    color: var(--gray);
    margin: 8px 0px 0px 0px;
}

.chip {
    color: var(--main-text-color);
    background-color: var(--accent-color);
    padding: 8px 20px;
    font-size: 16px;
    border-radius: 48px;
    margin-left: auto;
    height: fit-content;
}

.content-request {
    margin-top: 24px;
    margin-bottom: 24px;
    color: var(--gray);
    font-size: 16px;
}

.button-section > button {
    margin-right: 24px;
}