
.popup-overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.popup-container {
    border-radius: 24px;
    background: var(--bg-white, #FFF);
    display: flex;
    width: 600px;
    padding: 24px;
    gap: 24px;
}

.popup-container .close-button {
    cursor: pointer;
    border: none;
    background-color: white;
    font-size: 18px;
    float: right;
}

.popup-button {
    font-weight: 700;
    font-size: 20px;
    padding: 12px 24px;
    border-radius: 12px;
    margin: 12px 0px;
    color: white;
    background-color: var(--primary);
    border: 0px;
}

.modal-body {
    display: flex;
    height: 352px;
    padding: 24px;
    gap: 72px;
    border-radius: 24px;
    border: 1px solid var(--Border, #AFAFAF);
    width: 550px;
    color: #717171;
    font-family: Inter;
}

.submit-button {
    font-weight: 700;
    font-size: 20px;
    padding: 12px 24px;
    border-radius: 12px;
    margin-top: 24px;
    margin-bottom: auto;
    color: white;
    background-color: var(--primary);
    border: 0px;
    float: right;
}