.home-point-earn-section {
    /* TODO: add correct background-color in index.css */
    background-color: var(--accent-color);
    padding: 36px 40px;
    display: flex;
    border-radius: 20px;
    align-items: flex-start;
}

.home-text-section {
    flex: 2;
}

.card-row {
    display: flex;
    column-gap: 24px;
    margin: 40px auto;
}