.back-btn {
    display: flex;
}

.back-btn:hover {
    cursor: pointer;
}

.back-btn>h2 {
    margin: auto 0px;
}

.back-arrow {
    margin-right: 8px;
    width: 24px;
}

.teacher-detail-lower-section {
    display: flex;
}

.teacher-review-section {
    flex: 3;
}

.book-section {
    flex: 2;
    border: 1px solid var(--card-border-color);
    border-radius: 24px;
    padding: 36px 40px;
}

/* Review */
.review {
    margin-top: 36px;
    margin-right: 56px;
}

.review-header {
    display: flex;
    column-gap: 24px;
}

.review-img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-size: cover;
}

.review-nationality {
    color: var(--gray);
    font-size: 16px;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
}

.star-section {
    display: flex;
    column-gap: 4px;
}

.star-section>img {
    width: 16px;
    height: 16px;
    margin: auto 0px;
}

.review-comment {
    margin-top: 16px;
    margin-bottom: 40px;
    font-size: 16px;
}

.teacher-info {
    display: flex;
    margin-top: 60px;
    margin-bottom: 35px;
}

.teacher-img {
    width: 220px;
    height: 220px;
    border-radius: 220px;
}

.star-chunk {
    flex: 1;
    padding-left: 45px;
}

.teacher-name {
    color: var(--main-text-color);
}

.teacher-lang {
    color: var(--gray);
}

.star {
    width: 23px;
    height: 22px;
    padding: 1.667px 5px 2.333px 5px;
    justify-content: center;
    align-items: center;
}


.teacher-text {

    margin-left: 40px;
    color: var(--main-text-color);

    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 200%;

    flex: 4;
}