p {
    color: var(--main-text-color);
}

.header-section {
    background: #FFF;
    box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.25);
    padding: 16px 40px;
    display: flex;
    position: fixed;
    top: 0;
    width: calc(100% - 80px);
}

.hide {
    display: none;
}

.header-brand {
    display: inherit;
}

.header-brand:hover {
    cursor: pointer;
}

.header-brand>p {
    font-size: 24px;
    font-weight: 600;
    margin: auto 84px auto auto;
}

.header-logo {
    width: 48px;
    height: 48px;
    margin-right: 12px;
}

.header-nav {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 30px;
    margin-right: 30px;
    font-size: 20px;
    font-weight: 500;
}

.header-nav:hover {
    cursor: pointer;
}

.header-user {
    height: 48px;
    width: 48px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    margin-left: auto;
}

.header-user:hover {
    cursor: pointer;
}

.user-dropdown {
    position: fixed;
    top: 92px;
    right: 40px;
    width: 120px;
    padding: 12px 24px;
    border-radius: 8px;
    background-color: var(--white);
    box-shadow: 0px 4px 8px 0px var(--card-border-color);
}

.dropdown-item {
    font-size: 16px;
}

.dropdown-item:hover {
    cursor: pointer;
    color: var(--primary);
}

.profile-teacher-info {
    display: flex;
}

.profile-points-earned {
    /* TODO: update styling */
    color: var(--primary);
}

.profile-skill {
    margin-bottom: 12px;
}

#profile-edit-body {
    height: 150px;
}

.popup-container {
}